<div class="box">
    <div class="animated fadeIn">
    <h2 class="title is-5" style="margin-bottom: .5em;">Opleidingsinformatie</h2>
    <p>
        Geef hieronder aan welke opleiding de opleiding de leerling doet, en wat zijn/haar niveau is.
    </p><br>
    <p>
    <form action="" ng-controller="educationInfoController">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Opleidingsniveau</label>
                    <div class="select">
                        <select name="edu-level" ng-model="educationLevel" id="edu-level">
                            <option ng-repeat="item in educationLevels" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="educationLevel==='VMBO'">
            <div ng-include="'views/subviews/step2/vmboForm.html'"></div>
        </div>
        <div ng-if="educationLevel==='HAVO'||educationLevel==='VWO'">
            <div ng-include="'views/subviews/step2/havovwoForm.html'"></div>
        </div>
        <div ng-if="educationLevel==='MBO'">
            <div ng-include="'views/subviews/step2/mboForm.html'"></div>
        </div>
    </form>
    </p><br>
    <a onclick="nextStep3()" class="button is-danger" >Volgende</a>
    </div>
</div>
<ul class="steps is-hidden">
    <li class="step-item is-completed is-danger" id="step1">
        <div class="step-marker"><i class="fas fa-user"></i></div>
        <div class="step-details">
            <p class="step-title"><small>Basisgegevens Leerling</small></p>
        </div>
    </li>
    <li class="step-item is-active is-danger" id="step2">
        <div class="step-marker"><i class="fas fa-graduation-cap"></i></div>
        <div class="step-details">
            <p class="step-title"><small>Opleidingsinformatie</small></p>
        </div>
    </li>
    <li class="step-item" id="step3">
        <div class="step-marker"><i class="fas fa-handshake"></i>

        </div>
        <div class="step-details">
            <p class="step-title"><small>Indruk</small></p>
        </div>
    </li>
    <li class="step-item" id="step4">
        <div class="step-marker">
              <span class="icon">
                <i class="fa fa-flag"></i>
              </span>
        </div>
        <div class="step-details">
            <p class="step-title"><small>Controleren en Voltooien</small></p>
        </div>
    </li>
</ul>