<div class="box">
    <h2 class="title is-5" style="margin-bottom: .5em;">Controleren en voltooien</h2>
    <p>
        U heeft het formulier volledig ingevuld.<br>
        Om het formulier op te slaan als PDF bestand klikt u op de knop 'volgende'.<br>
        U wordt dan naar een andere pagina verwezen waar u uw antwoorden kunt nakijken. Gaat u akkoord. Druk dan op de opslaan knop.
    </p><br>
    <a href="views/printDocument.html" target="_blank" class="button is-success">Formulier bekijken</a>&nbsp;
    <a href="/examen" class="button is-danger">Opnieuw beginnen</a>

</div>
<ul class="steps is-hidden">
    <li class="step-item is-completed is-danger" id="step1">
        <div class="step-marker"><i class="fas fa-user"></i></div>
        <div class="step-details">
            <p class="step-title"><small>Basisgegevens Leerling</small></p>
        </div>
    </li>
    <li class="step-item is-completed is-danger" id="step2">
        <div class="step-marker"><i class="fas fa-graduation-cap"></i></div>
        <div class="step-details">
            <p class="step-title"><small>Opleidingsinformatie</small></p>
        </div>
    </li>
    <li class="step-item is-active is-danger" id="step3">
        <div class="step-marker"><i class="fas fa-handshake"></i>

        </div>
        <div class="step-details">
            <p class="step-title"><small>Indruk</small></p>
        </div>
    </li>
    <li class="step-item" id="step4">
        <div class="step-marker">
              <span class="icon">
                <i class="fa fa-flag"></i>
              </span>
        </div>
        <div class="step-details">
            <p class="step-title"><small>Controleren en Voltooien</small></p>
        </div>
    </li>
</ul>