<div class="box">
    <h2 class="title is-5" style="margin-bottom: .5em;">Bijzonderheden</h2>
    <p>
        Heeft de leerling een aandoening en/of beperking die van invloed op de studie is of kan zijn?
    </p><br>
    <p>
    <form ng-controller="specialtiesController">
        <table class="has-text-centered table">
            <tr>
                <td></td>
                <td class="has-text-centered">Ja</td>
                <td class="has-text-centered">Nee</td>
            </tr>
            <tr>
                <td>Volgt de leerling speciaal onderwijs?</td>
                <td class="has-text-centered"><input onclick="new StorageItem('spec_edu', this.value).saveItem();" type="radio" name="spec_edu" value="Ja" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('spec_edu', this.value).saveItem();" type="radio" name="spec_edu" value="Nee" required></td>
            </tr>
            <tr>
                <td>Heeft de leerling dyslexie?</td>
                <td class="has-text-centered"><input onclick="new StorageItem('dyslexion', this.value).saveItem();" type="radio" name="dyslexion" value="Ja" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('dyslexion', this.value).saveItem();" type="radio" name="dyslexion" value="Nee" required></td>
            </tr>
            <tr>
                <td>Heeft de leerling dyscalculie?</td>
                <td class="has-text-centered"><input onclick="new StorageItem('dyscalculation', this.value).saveItem();" type="radio" name="dyscalculation" value="Ja" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('dyscalculation', this.value).saveItem();" type="radio" name="dyscalculation" value="Nee" required></td>
            </tr>
            <tr>
                <td>Is de leerling recent besproken in het extern zorg- en advies team (ZAT)</td>
                <td class="has-text-centered"><input onclick="new StorageItem('careteam', this.value).saveItem();" type="radio" name="careteam" value="Ja" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('careteam', this.value).saveItem();" type="radio" name="careteam" value="Nee" required></td>
            </tr>
        </table>
    </form>
    </p><br>
    <a href="#!/completed" class="button is-danger">Volgende</a>

</div>
<ul class="steps is-hidden">
    <li class="step-item is-completed is-danger" id="step1">
        <div class="step-marker"><i class="fas fa-user"></i></div>
        <div class="step-details">
            <p class="step-title"><small>Basisgegevens Leerling</small></p>
        </div>
    </li>
    <li class="step-item is-completed is-danger" id="step2">
        <div class="step-marker"><i class="fas fa-graduation-cap"></i></div>
        <div class="step-details">
            <p class="step-title"><small>Opleidingsinformatie</small></p>
        </div>
    </li>
    <li class="step-item is-completed is-danger" id="step3">
        <div class="step-marker"><i class="fas fa-handshake"></i>

        </div>
        <div class="step-details is-danger is-completed">
            <p class="step-title"><small>Indruk</small></p>
        </div>
    </li>
    <li class="step-item" id="step4">
        <div class="step-marker">
              <span class="icon">
                <i class="fa fa-flag"></i>
              </span>
        </div>
        <div class="step-details">
            <p class="step-title"><small>Controleren en Voltooien</small></p>
        </div>
    </li>
</ul>