<div class="box">
    <div class="animated fadeIn">
    <h2 class="title is-5" style="margin-bottom: .5em;">Basisgegevens</h2>
    <p>
        Om te beginnen dient u de naam en de geboortedatum van de leerling in te vullen.
    </p><br>
    <p>
    <form ng-controller="generalInfoController" >
        <div class="columns">
            <div class="column is-one-third">
                <div class="field">
                    <label class="label">Voornaam</label>
                    <div class="control">
                        <input class="input" id="firstname" type="text" required>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="field">
                    <label class="label">Achternaam</label>
                    <div class="control">
                        <input class="input" id="lastname" type="text" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-fifth">
                <label class="label">Geboortedatum</label>
                <datepicker style="z-index: 9998;" date-format="dd-MM-yyyy" date-min-limit="01-01-1935" date-max-limit="{{curDate}}">
                    <input style="z-index: 9999;" class="input" ng-model="date" type="text" id="dateOfBirth" required/>
                </datepicker>
            </div>
        </div>
    <p style="margin-top:1em;">
        <a onclick='nextStep()'class="button is-danger" >Volgende</a>
    </p>
    </form>
    </p>
    </div>
</div>
<ul class="steps is-hidden" style="z-index: -999;">
    <li class="step-item is-active is-danger" id="step1">
        <div class="step-marker"><i class="fas fa-user"></i></div>
        <div class="step-details">
            <p class="step-title"><small>Basisgegevens Leerling</small></p>
        </div>
    </li>
    <li class="step-item" id="step2">
        <div class="step-marker"><i class="fas fa-graduation-cap"></i></div>
        <div class="step-details">
            <p class="step-title"><small>Opleidingsinformatie</small></p>
        </div>
    </li>
    <li class="step-item" id="step3">
        <div class="step-marker"><i class="fas fa-handshake"></i>

        </div>
        <div class="step-details">
            <p class="step-title"><small>Indruk</small></p>
        </div>
    </li>
    <li class="step-item" id="step4">
        <div class="step-marker">
              <span class="icon">
                <i class="fa fa-flag"></i>
              </span>
        </div>
        <div class="step-details">
            <p class="step-title"><small>Controleren en Voltooien</small></p>
        </div>
    </li>
</ul>