<div class="box">
    <h2 class="title is-5" style="margin-bottom: .5em;">Indruk</h2>
    <p>
        Hoe is uw indruk op school over de leerling
    </p>
    <br>
    <p>
    <form action="" ng-controller="impressionController">
        <table class="has-text-centered table">
            <tr>
                <td></td>
                <td class="has-text-centered">Onvoldoende</td>
                <td class="has-text-centered">Zwak</td>
                <td class="has-text-centered">Voldoende</td>
                <td class="has-text-centered">Goed</td>
            </tr>
            <tr>
                <td><b>Werkhouding</b></td>
                <td class="has-text-centered"></td>
                <td class="has-text-centered"></td>
                <td class="has-text-centered"></td>
                <td class="has-text-centered"></td>
            </tr>
            <tr>
                <td>Concentratie</td>
                <td class="has-text-centered"><input  onclick="new StorageItem('concentration', this.value).saveItem();" type="radio" name="concentration" value="Onvoldoende" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('concentration', this.value).saveItem();" type="radio" name="concentration" value="Zwak" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('concentration', this.value).saveItem();" type="radio" name="concentration" value="Voldoende" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('concentration', this.value).saveItem();" type="radio" name="concentration" value="Goed" required></td>
            </tr>
            <tr>
                <td>Werktempo</td>
                <td class="has-text-centered"><input onclick="new StorageItem('pace', this.value).saveItem();" type="radio" name="pace" value="Onvoldoende" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('pace', this.value).saveItem();" type="radio" name="pace" value="Zwak" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('pace', this.value).saveItem();" type="radio" name="pace" value="Voldoende" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('pace', this.value).saveItem();" type="radio" name="pace" value="Goed" required></td>
            </tr>
            <tr>
                <td>Zelfstandig Werken&nbsp;&nbsp;</td>
                <td class="has-text-centered"><input onclick="new StorageItem('independent', this.value).saveItem();" type="radio" name="independent" value="Onvoldoende" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('independent', this.value).saveItem();" type="radio" name="independent" value="Zwak" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('independent', this.value).saveItem();" type="radio" name="independent" value="Voldoende" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('independent', this.value).saveItem();" type="radio" name="independent" value="Goed" required></td>
            </tr>
            <tr>
                <td><b>Instelling</b></td>
                <td class="has-text-centered"></td>
                <td class="has-text-centered"></td>
                <td class="has-text-centered"></td>
                <td class="has-text-centered"></td>
            </tr>
            <tr>
                <td>Motivatie</td>
                <td class="has-text-centered"><input onclick="new StorageItem('motivation', this.value).saveItem();" type="radio" name="motivation" value="Onvoldoende" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('motivation', this.value).saveItem();" type="radio" name="motivation" value="Zwak" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('motivation', this.value).saveItem();" type="radio" name="motivation" value="Voldoende" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('motivation', this.value).saveItem();" type="radio" name="motivation" value="Goed" required></td>
            </tr>
            <tr>
                <td>Doorzettingsvermogen</td>
                <td class="has-text-centered"><input onclick="new StorageItem('perseverance', this.value).saveItem();" type="radio" name="perseverance" value="Onvoldoende" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('perseverance', this.value).saveItem();" type="radio" name="perseverance" value="Zwak" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('perseverance', this.value).saveItem();" type="radio" name="perseverance" value="Voldoende" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('perseverance', this.value).saveItem();"  type="radio" name="perseverance" value="Goed" required></td>
            </tr>
            <tr>
                <td><b>Vaardigheden</b></td>
                <td class="has-text-centered"></td>
                <td class="has-text-centered"></td>
                <td class="has-text-centered"></td>
                <td class="has-text-centered"></td>
            </tr>
            <tr>
                <td>Communicatie</td>
                <td class="has-text-centered"><input onclick="new StorageItem('communication', this.value).saveItem();" type="radio" name="communication" value="Onvoldoende" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('communication', this.value).saveItem();" type="radio" name="communication" value="Zwak" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('communication', this.value).saveItem();" type="radio" name="communication" value="Voldoende" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('communication', this.value).saveItem();" type="radio" name="communication" value="Goed" required></td>
            </tr>
            <tr>
                <td>Sociaal</td>
                <td class="has-text-centered"><input onclick="new StorageItem('social', this.value).saveItem();" type="radio" name="social" value="Onvoldoende" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('social', this.value).saveItem();" type="radio" name="social" value="Zwak" required></td>
                <td class="has-text-centered"><input onclick="new StorageItem('social', this.value).saveItem();" type="radio" name="social" value="Voldoende" required></td>
                <td class="has-text-centered"><input  onclick="new StorageItem('social', this.value).saveItem();" type="radio" name="social" value="Goed" required></td>
            </tr>
        </table>
    </form>
    </p><br>
    <a href="#!/step4" class="button is-danger">Volgende</a>

</div>
<ul class="steps is-hidden">
    <li class="step-item is-completed is-danger" id="step1">
        <div class="step-marker"><i class="fas fa-user"></i></div>
        <div class="step-details">
            <p class="step-title"><small>Basisgegevens Leerling</small></p>
        </div>
    </li>
    <li class="step-item is-completed is-danger" id="step2">
        <div class="step-marker"><i class="fas fa-graduation-cap"></i></div>
        <div class="step-details">
            <p class="step-title"><small>Opleidingsinformatie</small></p>
        </div>
    </li>
    <li class="step-item is-active is-danger" id="step3">
        <div class="step-marker"><i class="fas fa-handshake"></i>
        </div>
        <div class="step-details">
            <p class="step-title"><small>Indruk</small></p>
        </div>
    </li>
    <li class="step-item" id="step4">
        <div class="step-marker">
              <span class="icon">
                <i class="fa fa-flag"></i>
              </span>
        </div>
        <div class="step-details">
            <p class="step-title"><small>Controleren en Voltooien</small></p>
        </div>
    </li>
</ul>