<div class="animated fadeInUp">
<div class="box">
    <h2 class="title is-5" style="margin-bottom: .5em;">Welkom</h2>
    <p>
        Welkom bij het digitale inlichtingen formulier van Mediacollege Amsterdam.<br>
        Om meer over de leerling te weten te komen, willen we u vragen om dit formulier in te vullen.
    </p><br>
    <p>
        In dit formulier vragen we naar de basisgegevens, informatie over de opleiding en over eventuele bijzonderheden met betrekking tot de leerling.
    </p>
    <br>
    <p>
        Na afloop van het invullen van dit formulier ontvangt u een PDF bestand. Deze stuurt u naar de leerling, hij/zij zorgt voor verdere afhandeling <hiervan class=""></hiervan>
    </p>
    <p style="margin-top:1em;">
        <a href="#!/step1" class="button is-danger" >Volgende</a>
    </p>
</div>
<ul class="steps is-hidden">
    <li class="step-item" id="step1">
        <div class="step-marker"><i class="fas fa-user"></i></div>
        <div class="step-details">
            <p class="step-title"><small>Basisgegevens Leerling</small></p>
        </div>
    </li>
    <li class="step-item" id="step2">
        <div class="step-marker"><i class="fas fa-graduation-cap"></i></div>
        <div class="step-details">
            <p class="step-title"><small>Opleidingsinformatie</small></p>
        </div>
    </li>
    <li class="step-item" id="step3">
        <div class="step-marker"><i class="fas fa-handshake"></i>

        </div>
        <div class="step-details">
            <p class="step-title"><small>Indruk</small></p>
        </div>
    </li>
    <li class="step-item" id="step4">
        <div class="step-marker">
              <span class="icon">
                <i class="fa fa-flag"></i>
              </span>
        </div>
        <div class="step-details">
            <p class="step-title"><small>Controleren en Voltooien</small></p>
        </div>
    </li>
</ul></div>