<div>

</div>
<div>
    <label class="label">Diploma</label>
    <span>Geef aan wanneer de leerling zijn of haar diploma gaat behalen of heeft behaald.</span>
    <br>
    <div class="columns">
        <div class="column is-one-fifth">
            <datepicker date-format="dd-MM-yyyy" date-min-limit="01-01-1935" date-max-limit="{{curDate}}">
                <input class="input" ng-model="date" type="text"/>
            </datepicker>
        </div>
    </div>
</div><br>
<div>
    <label class="label">Overgansbewijs</label>
    <span>Heeft de leerling een overgangsbewijs? Geef dat hieronder aan.<br>Zo niet, laat deze velden dan leeg.</span>
    <br>
    <div class="columns">
        <div class="column">
            <br>
            <table>
                <tr>
                    <td style="padding: .2em 1em;">
                        <label for="fromYear">Van leerjaar</label>
                    </td>
                    <td>
                        <input style="width: 50%;" onchange="new StorageItem('eduFromYear', this.value).saveItem();" type="number" maxlength="1" name="fromYear" id="fromYear" class="input">
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                </tr>
                <tr>
                    <td style="padding: .2em 1em;">
                        <label for="toYear">Naar leerjaar</label>
                    </td>
                    <td>
                        <input style="width: 50%;" onchange="new StorageItem('eduToYear', this.value).saveItem();"  type="number" maxlength="1" name="toYear" id="toYear" class="input">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>