<div class="columns">
    <div class="column is-half">
        <label class="label">Niveau</label>
        <input class="radio" name="edu_level" type="radio" id="1" value="1">&nbsp;<label for="1">Niveau 1</label><br>
        <input class="radio" name="edu_level" type="radio" id="2" value="2">&nbsp;<label for="2">Niveau 2</label><br>
        <input class="radio" name="edu_level" type="radio" id="3" value="3">&nbsp;<label for="3">Niveau 3</label><br>
        <input class="radio" name="edu_level" type="radio" id="4" value="4">&nbsp;<label for="4">Niveau 4</label><br>
    </div>
    <div class="column is-half">
        <label class="label">Leerweg</label>
        <input class="radio" name="edu_route" type="radio" id="bbl" value="BBL">&nbsp;<label for="bbl">Beroeps Begeleidende Leerweg</label><br>
        <input class="radio" name="edu_route" type="radio" id="bol" value="BOL">&nbsp;<label for="bol">Beroeps Opleidende Leerweg</label><br>
    </div>
</div>