<div class="columns">
    <div class="column is-half">
        <label class="label">Niveau</label>
        <input class="radio" onclick="new StorageItem('eduLevel', this.value).saveItem();" name="edu_level" type="radio" id="bb" value="Basisberoepsgerichte Leerweg">&nbsp;<label for="bb">Basisberoepsgerichte Leerweg</label><br>
        <input class="radio" onclick="new StorageItem('eduLevel', this.value).saveItem();" name="edu_level" type="radio" id="kb" value="Kaderberoepsgerichte Leerweg">&nbsp;<label for="kb">Kaderberoepsgerichte Leerweg</label><br>
        <input class="radio" onclick="new StorageItem('eduLevel', this.value).saveItem();" name="edu_level" type="radio" id="gl" value="Gemengde Leerweg">&nbsp;<label for="gl">Gemengde Leerweg</label><br>
        <input class="radio" onclick="new StorageItem('eduLevel', this.value).saveItem();" name="edu_level" type="radio" id="tl" value="Theoretische Leerweg">&nbsp;<label for="tl">Theoretische Leerweg</label><br>
    </div>
    <div class="column is-half">
        <label class="label">Sector</label>
        <input class="radio" onclick="new StorageItem('eduRoute', this.value).saveItem();" name="edu_route" type="radio" id="eco" value="Economie">&nbsp;<label for="eco">Economie</label><br>
        <input class="radio" onclick="new StorageItem('eduRoute', this.value).saveItem();" name="edu_route" type="radio" id="land" value="Landbouw">&nbsp;<label for="land">Landbouw</label><br>
        <input class="radio" onclick="new StorageItem('eduRoute', this.value).saveItem();" name="edu_route" type="radio" id="tech" value="Techniek">&nbsp;<label for="tech">Techniek</label><br>
        <input class="radio" onclick="new StorageItem('eduRoute', this.value).saveItem();" name="edu_route" type="radio" id="zw" value="Zorg en Welzijn">&nbsp;<label for="zw">Zorg en Welzijn</label><br>
    </div>
</div>
<div>
    <label class="label">Keuzevak Mediavormgeving &amp; ICT (MVI)</label>
    <label>Heeft de leerling een keuzevak Mediavormgeving &amp; ICT gedaan?</label>
    <p>
        <input class="radio" onclick="new StorageItem('eduMvi', this.value).saveItem();" name="edu_mvi" type="radio" value="Ja" id="mvi_yes">&nbsp;<label for="mvi_yes">Ja</label><br>
        <input class="radio" onclick="new StorageItem('eduMvi', this.value).saveItem();" name="edu_mvi" type="radio" value="Nee" id="mvi_no">&nbsp;<label for="mvi_no">Nee</label><br>
    </p>
    <p>
        <label for="mvi_desc">Welk MVI keuzevak heeft de leerling gevolgd?</label><br>
        <input onchange="new StorageItem('eduMviDesc', this.value).saveItem();" class="input" type="text" maxlength="50" style="max-width: 400px;" id="mvi_desc">
    </p>
</div>
<div>
    <br>
    <label class="label">Diploma</label>
    <span>Geef aan wanneer de leerling zijn of haar diploma gaat behalen of heeft behaald.</span>
    <br>
    <div class="columns">
        <div class="column is-one-fifth">
            <datepicker date-format="dd-MM-yyyy" date-min-limit="01-01-1935">
                <input onmouseup="new StorageItem('eduGraduateDate', this.value).saveItem();" class="input" ng-model="date" type="text"/>
            </datepicker>
        </div>
    </div>
</div>