.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;

}        /* starting animations for enter */
/* terminal animations for enter */

.slide.ng-enter {
  opacity: 0;
}

.slide.ng-enter.ng-enter-active {
  opacity: 1;
}

.slide.ng-leave {
  opacity: 1;
}

.slide.ng-leave.ng-leave-active {
  opacity: 0;
}