body{font-family:sans-serif;padding:1em;margin:0 auto}.table-title{font-weight:bold;text-align:right !important}td{padding:.25em;color:rgba(0,0,0,0.5)}.subtitle{font-weight:bold;font-size:18px}.object_item{padding:.25em}.object_title{font-weight:bold}
